


/* .footer{
    background-image: url(img/img1.jpg)
} */
/* ~~~~~~~~~~~~~~~ HEADER  ~~~~~~~~~~~~~~ */
div.header-buttons a{
    color:inherit; 
    text-decoration: none;

}
div.header{
    background-color:#2e2726;
}

.header img {
    height:100px;
}

div.header div.dropdown-menu{
    background-color: #939927;

}
div.header div.dropdown-menu{
    background-color: #939927;

}

div.header div.dropdown-menu a:hover{
    background-color:#a4a854;

}

#btnGroupDrop1{
    background-color: #939927;
     color: black;
}


#btnGroupDrop1:hover{
    background-color:#a4a854;
}


p.phone-number:hover{
    color:#c5cc3e;
}
p.phone-number{
    color:cornsilk;
}
p.phone-number span{
    color:cornsilk;
}


.header-buttons button{
    background-color:#939927 ;
    border-color:#939927;
    border-radius: 5px;
}
.header-buttons button:hover{
    background-color:#a4a854;
}

  
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  
  
  
  
  /* ~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~ */
    nav{
        padding: 0px !important;
    }


  li div.dropdown-menu{
    display: none;
    position: absolute;
  }


  li.dropdown:hover .dropdown-menu {
      display:block ;
      }

  /* .dropown-menu:hover{
      display:block;
  } */
  
  nav {
    background-color:#503f3d;
     padding: 0px;
     
  }
  
  nav ul{
      margin:auto;
      
  }

  li.nav-item{
    border-bottom-style:inset;
    border-color: #503f3d;
}
  li.nav-item a{
      color: white !important;

  }


  nav ul li a {
    color: white;
  }

  nav .dropdown-menu {
      
      background-color:#503f3d; ;
  }
  nav .dropdown-menu a{
      color: cornsilk;
}

li.nav-item a:hover {
    color:#c5cc3e !important;
}

li.nav-item:hover{
border-bottom-style:inset;
border-color: #c5cc3e;
}
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  
  
  
  /* ~~~~~~~~~~~~~~~ CAROUSEL ~~~~~~~~~~~~~~ */
  div.carousel-caption a{
    color:#dde641
  }
    
 ol.carousel-indicators li:active{
    background-color:#c5cc3e ;
 }

 ol.carousel-indicators li{
    background-color:#c5cc3e ;
 }

 div.carousel-item img {
     height: 400px !important;
 }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  
  /* ~~~~~~~~~~~~~~~~~~ MAIN CONTENT ~~~~~~~~~~~~ */
    body{
      background-color: rgb(250, 246, 240);
 
  }
  div.main-content{
    font-family:Verdana;

  }
  div.first-par{
    font-family:Verdana;
     color:linen;
     background-color: #271e1d;
  }

  div.first-par h3{
    font-weight:lighter;
  }


  h4 a {
      opacity: 1;
      color:#a4a854;
      text-decoration: none;
  }
  h4 a:hover{
    color: #a4a854;
    opacity: 0.7;
    text-decoration: none;
  }

  .main-content-fwto  img:hover{
      border: solid thick ;
      color: #bec70b;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  /* ~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */
  div.footer{
    background-color:#e7dcda;
  }
    .footer .fa {
        font-size: large;
        margin-right: 10px;
        text-decoration: none;
        color: #503f3d;
    }

    .footer .fa:hover {
        color: #c5cc3e ;
    }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  